.tit-c {
    display: flex;
    justify-content: center;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}

.color {
    color: rgb(61, 43, 226);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

